body{
    font-family: 'Poppins', sans-serif;
 
}
.flexible-container{
    display: flex;
}
.first-div{
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
}
.first-div img{
    width: 100%;  
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, rgb(51, 255, 0));
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px soldi blue;
}
.second-div{
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 50px;
}
.second-div img{
    width: 50%;
    height: 400px;
    padding-left: 20%;
}
.container-color{
    background-color:rgb(243, 243, 243);
}
