body{
    font-family: 'Poppins', sans-serif;
 
}
.flexible-container{
    display: flex;
}
.first-div{
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
}
.first-div img{
    width: 100%;  
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, rgb(51, 255, 0));
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px soldi blue;
}
.second-div{
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 50px;
}
.second-div img{
    width: 50%;
    height: 400px;
    padding-left: 20%;
}
.container-color{
    background-color:rgb(243, 243, 243);
    background-image: url(images/shapes/7.png);
}
.recipe{
    text-align: center;
    width: auto 500px;
}
.recipe p{
    width: 500px;
    margin-left: 34%;
}
.third-container{
    display: flex;
}
.third-div{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    text-align: center;

}
.third-div img{
    width: 100%;
}
.last-section{
    display: flex;
    box-shadow: 5px 5px 10px gray;
    margin-top: 60px;
    
}
.social{
    width: 30%;
    margin-left: 13%;

}
footer{
    height: 100px;
    text-align: center;
    padding: 20px;
    background-color: rgb(15, 15, 82);
    margin-top: 40px;
}
footer p{
    color: white;
}
.fresh{
    color: blue;
}